h1{
	text-align:center;
	color: black;
}
body{
background-image: url("./images/background.jpg")


}

button{
	padding: 8px;
	background-color: black;
	color: white;
	border-radius: 5px;
	margin: 3px;
}
.img1{
	opacity: 0.3;
	width:100%;
}
footer {

    padding: 10px;
    text-align: center;
    color: white;
}
#img{
	opacity: 0.3;
}
.nav{
	height: 50%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 30;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.5;
    color: #ffffff;
}
.nav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    border : 2px solid white;
}
