  {% extends 'base.html' %}
{% load staticfiles %}



{% block title %}Home{% endblock %}

{% block content %}



  <nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li><a href="#"><i class="fa fa-fw fa-home" style="font-size:20px"></i><b>Home</b></a></li> 
      
      <li><a href="#"><i class=" fa fa-flash" style="font-size:20px"></i><b>&nbsp Moments</b></a></li>
      <li><a href="#"><i class="fa fa-bell-o" style="font-size:20px"></i><b>&nbsp Notifications</b></a></li>
      <li><a href="#"><i class="fa fa-envelope-o" style="font-size:24px"></i><b> &nbspMessages</b></a></li>
      <li><a href="#"><i class="fa fa-twitter" style="font-size:30px;color:#4286f4; margin-left: 250px;"></i></a></li>
      <li><form type="get" action="{% url 'search' %}" accept-charset="utf-8">
        <input type="text" placeholder="Search.." id='search' value='{{search}}' class="searchfield ui-widget" autocomplete='off' name="search" style="margin-top: 15px;margin-left: 100px;border-radius: 5px;height: 33px;"><button type="submit" id="btn" style="float:right;padding: 7px;
    background: #2196F3;
    color: white;
    font-size:8px;
    margin-top:15px;
    border: 1px solid grey;
    border-left: none;cursor: pointer;"><i class="fa fa-search example" style="font-size:17px"></i></button></form></li>
      <li>{% if user.is_authenticated %}<div class="dropdown">
         <p class="dropdown-toggle  fa fa-user-circle-o" style="font-size:30px;margin-top: 15px;margin-left: 30px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          >
            
          </p>


        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <p class="dropdown-toggle  fa fa-user-circle-o" style="font-size:30px;margin-top: 15px;margin-left: 30px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
          >
            
          </p>
  
          <li><a href="{% url 'login' %}">login</a>
          {% endif %}</li>
            
          </ul>
</div>
</li>
      </ul>
</div>
    


</nav>
<div id="backround">
{% for i in pic %}
  <a href="#"><img src="/{{i.profile_image}}" class="img-circle" id="img" width="200px" height="200px" style="margin-top:150px; margin-left:70px;border: 5px solid white; z-index: 1;position:absolute;"></a>
 {% endfor %}  
{% for i in pic %}
  <img src="/{{i.header_image}}" style="height: 250px; width:100%">
{% endfor %}  

  
</div>

<nav class="navbar navbar-default ">
  <div class="container-fluid">
     
    <ul class="nav navbar-nav" style="margin-left:350px;">
      <li><a href="#"><b>Following</b></a></li>
      
      <li><a href="#"><b>Follwers</b></a></li>
      <li><a href="#"><b>Lists</b></a></li>
      <li><a href="#"><b>Moments</b></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">    
      
      <li><a href="#"><button type="button" class="btn btn-default" data-pk={{profile.pk}} data-status="follow"  id="follow_btn"><b>Follow</b></button></a></li>
  
   
      <li><a href="#"><button type="button" class="btn btn-default" data-pk={{profile.pk}} data-status="unfollow" id="unfollow_btn"><b>UnFollow</b></button></a></li>
   {% for i in status %}

   <p id="status" >{{i.pk}}</p>
  
  {% endfor %}
    </ul>
  </div>
</nav><br><br>
<h2 style="color:black; margin-left: 20px;"><a href="#" style="text-decoration: none;">{{profile.username}}</a></h2>
<p style="margin-left: 20px;"><a href="#" style="text-decoration: none;"><b>{{profile.email}}</b></a></p>
<!-- {% for i in twt1 %}

  
  <p>tweet:{{i.text|linebreaksbr}}</p>
  <p>posted on:{{i.created_at}}</p>
{% endfor %} -->
{% for i in twt1 %}
          <div class="container" id="twtid" style="height: 300px;width: 504px;margin-top: 10px;margin-left: 0px;border:1px solid black;">
        
          <div class="post">
            <p>tweet:{{i.text|linebreaksbr}}</p>
            <p>posted on:{{i.created_at}}</p>
            <!-- <p><a href="{% url 'profile' pk=i.user.pk %}">tweet by:{{i.user}}</a></p> -->
          </div>
          </div>
          

        {% endfor %}

<!-- <p id="search"></p> -->
<script type="text/javascript">
          $(follow_btn).click(function() {
            var value =$(this).data("status");
            var pk = $(this).data("pk");
            var url1="{% url 'profile' pk=1 %}"
            url1 = url1.replace(1,pk);
            console.log(pk);
            console.log(value);
        $.ajax({
          url: url1, 
          data:{
            'action':value,
            'id': pk
          },
          success: function(data){ 
        
            console.log(data)
          $("#follow_btn").hide();
          $("#unfollow_btn").show();
       
        }
    });
});
        $(unfollow_btn).click(function() {
            var value =$(this).data("status");
            var pk = $(this).data("pk");
            var url1="{% url 'profile' pk=1 %}"
            url1 = url1.replace(1,pk);
            console.log(pk);
            console.log(value);
        $.ajax({
          url: url1, 
          data:{
            'action':value,
            'id': pk
          },
          success: function(data){ 
            data1=data.data1;
            console.log(data)
            $("#follow_btn").show();
            $("#unfollow_btn").hide();
        
        }
    });
    });     

          $(document).ready(function(){
          $("#status").hide();
          var value =$("#status").text();
          console.log(Number(value));
          console.log((Number(value))==0); 
          if((Number(value))==0)
          {
            $("#follow_btn").show();
             $("#unfollow_btn").hide();
          }
          else if(!(Number(value))==0){
            
             $("#unfollow_btn").show();
             $("#follow_btn").hide();
          }


        
          });
          </script>
<script type="text/javascript">

$( function() {
        $("#search").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'ajax_autocomplete' %}",
            data: {
              'search': value 
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                console.log(list);
                $("#search").autocomplete({
                source : list
                
                });       
            }
        });        
    });
 });
    </script>


{% endblock %}


