body{
	background-color: #D3D3D3;
}
#image-container{
	color: white;
	background-color: black;
}
.container{
	color: white;
}
.border{
  		border: 2px solid white ;
  		
 }
 button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 }
.seemore{
  color:black;
}