{% load static %} 
<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
	<link rel="stylesheet" href="{% static 'css/stylessignup.css' %}">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  	<style type="text/css">
  		input{
  			height: 30px;
  			width: 440px;
  			outline: 0;
            border-width: 0 0 2px;
            border-color: grey;
  		}
  		input:focus{
  			border-color: #5ea9dd;
  		}
  	</style>
</head>
<body style="background-color: lightgrey;">
<div class="container" style="height: 500px; width: 580px; margin-left: 700px; margin-top: 200PX; background-color: white;" >
	<div>
		<i class="fa fa-twitter" style="color: #5ea9dd; margin-left: 155px; margin-top: 10px; font-size: 30px;"></i>
		
	<h2 style="margin-top: 100px;">Create your account</h2>
	<form method="POST" class="signup-form" id="signup-form" action="{% url 'signup' %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default" id="save" >Save</button>
    </form>
	</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#signup-form").unbind('submit').submit(function(){
      var phone = $("#id_phonenumber").val();
       var psw = $("#id_password").val();
      var con = $("#id_confirmpassword").val();
      var upper = /[A-Z]/g;
      var special = /[!@$%^&*)]/g;
      var num = /[0-9]/g;
      var lower = /[a-z]/g;
      console.log(phone);
      if(!(phone.startsWith("9") || phone.startsWith("8") || phone.startsWith("7"))){
        alert("enter valid phone number");
        return false;
      }
      else if(!psw.match(upper)){
        alert("include atleast 1 uppercase");
        return false;
      }
      else if(!psw.match(lower)){
        alert("include atleast 1 lowercase");
        return false;
      }
      else if(!psw.match(num)){
        alert("include atleast 1 number");
        return false;
      }
      else if(!(psw.match(special))){
        alert("include atleast 1 special character");
        return false; 
      }
      else if(!(psw.length>=8)){
        alert("password should contain minimum 8 characters");
        return false;
      }
      else if (psw != con){
        alert("password doesn't match!!");
        return false;
      }else{
        return true;
      }
    });

  });
 
// $("#signup-form").unbind('submit').submit(function(){
 //      var psw = $("#id_password").val();
 //      // var upper = /[A-Z]/ & lower = /[a-z]/ & num = /[0-9]/;
 //      var upper =/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$/g;
 //      if(psw.match(upper)){
 //        return true;
 //      }else{
 //        alert("enter valid password");
 //        return false;
 //      }
 //    });






</script>






</body>
</html>