{% load static %} 
<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<link rel="stylesheet" href="{% static 'css/twtstyles.css' %}">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="col-sm-6" id="pic">
	<!-- {% load static %}
	<img src="{% static "images/startlogo.jpg" %}" alt="twitter image" width="100%" height="920px"> -->
	<div id="span">
		<span class="glyphicon glyphicon-search">	Follow your interests</span><br>
		<span class="glyphicon glyphicon-user"> 	Hear what people are talking about</span><br>
		<span class="glyphicon glyphicon-comment"> 	Join the conversation</span>

	</div>
</div>
<!-- <div class="col-sm-6" id="in">
	<input class="input" type="text" name="name" value="" placeholder=" phone,email,or username">
	<input class="input" type="text" name="text_input" class="text_input_style" value="" placeholder=" password">
	<button class="button">log in</button>
	<div id="forgot1">
	<a class="forgot" href="#">forgot password?</a>
	</div> -->
	<div align="center">
		<img class="img" src="{% static "css/images/download.png" %}">
		<h3 style="font-size: 30px;">see what's happening in the world rn! </h3><br>
		<p style="font-size: 23px;">join twitter today</p>
		<button onclick="location.href='/signup'" class="in" id="in1" name="signup" value="sign up">sign up</button><br><br>
		<button onclick="location.href='/login'" class="in" id="in2" name="log in" value="log in">log in</button>
	</div>
</div>
</div>






</body>
</html>