{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<link rel="stylesheet" href="{% static 'css/twtstyles.css' %}">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 img-responsive" id="pic">
		<div id="span"><br><br><br>
		<span class="glyphicon glyphicon-search" style="word-spacing: -10px;">&nbsp;		Follow your interests</span><br><br>
		<span class="glyphicon glyphicon-user" style="word-spacing: -10px;">&nbsp;		Hear what people are talking about</span><br><br>
		<span class="glyphicon glyphicon-comment" style="word-spacing: -10px;">&nbsp;		Join the conversation</span>
		</div>
		</div>
		<div class="col-sm-6" align="center">
		<img class="img" src="{% static "css/images/download.png" %}">
		<h3 style="font-size: 22px;"><b>See what's happening in the world right now </b></h3><br>
		<p style="font-size: 22px;"><b>Join twitter today</b></p>
		<button onclick="location.href='signup'" class="in" id="in1" name="signup" value="sign up">Sign Up</button><br><br>
		<button onclick="location.href='login'" class="in" id="in2" name="log in" value="log in">Log in</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
	<div class="footer">
	<p style="text-align: center ">
	<a href="#" style="color:#7c8790">About</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">HelpCenter</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Blog</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Blog</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Status</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Jobs</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Terms</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Brand</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Apps</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Advertise</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Marketing</a>&nbsp;&nbsp;
	<a href="#" style="color:#7c8790">Businesses</a>&nbsp;&nbsp; &copy 2018 Twitter</p>	
	</div>	
	</div>
</div>

</style>
</body>
</html>