def profile(request, pk):
	try:
		form =ProfileForm(instance=request.user.profile)
		profile= get_object_or_404(User, pk=pk)
		pic=Profile.objects.filter(user=profile.id)
		twt=Tweets.objects.filter(user=profile.id)
		followers=Follow.objects.filter(following=profile.id).count()
		following=Follow.objects.filter(followers=profile.id).count()
		tweetscount=Tweets.objects.filter(user=profile.id).count()
		form1 = commentForm(request.POST)
		if(request.user!= profile):
			status=Follow.objects.filter(followers=request.user,following=profile)
		else:
			status="ok"
		if request.is_ajax():
		    user_id = request.GET.get('id')
		    action = request.GET.get('action')
		    if action == "follow":
		        Follow.objects.get_or_create(followers=request.user,following=profile)
		        return JsonResponse({'status':'ok','data1':'follow'})
		    elif action == "unfollow":
		        Follow.objects.filter(followers=request.user,following=profile).delete()
		        return JsonResponse({'status':'ok','data1':'unfollow'})
		return render(request,'profile.html',{'profile':profile,'twt1':twt,'pic':pic,'status':status,'form': form,'followers':followers,'following':following,'twtcount':tweetscount,'form1':form1,}) 
	except:
		form =ProfileForm()
		profile= get_object_or_404(User, pk=pk)
		pic=Profile.objects.filter(user=profile.id)
		twt=Tweets.objects.filter(user=profile.id)
		followers=Follow.objects.filter(following=profile.id).count()
		following=Follow.objects.filter(followers=profile.id).count()
		tweetscount=Tweets.objects.filter(user=profile.id).count()
		form1 = commentForm(request.POST)
		if(request.user!= profile):
			status=Follow.objects.filter(followers=request.user,following=profile)
		else:
			status="ok"
		if request.is_ajax():
		    user_id = request.GET.get('id')
		    action = request.GET.get('action')
		    if action == "follow":
		        Follow.objects.get_or_create(followers=request.user,following=profile)
		        return JsonResponse({'status':'ok','data1':'follow'})
		    elif action == "unfollow":
		        Follow.objects.filter(followers=request.user,following=profile).delete()
		        return JsonResponse({'status':'ok','data1':'unfollow'})
		return render(request,'profile.html',{'profile':profile,'twt1':twt,'pic':pic,'status':status,'form': form,'followers':followers,'following':following,'twtcount':tweetscount,'form1':form1,}) 