{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<style type="text/css">
  label:first-child{   
    float: left;
  }
</style>
<script>
$(document).ready(function(){
    $("#editbtn").click(function(){
        $("#myModal").modal();
    });
});

$("#img").click(function () {
  $("input[type='file']").trigger('click');
});

$('input[type="file"]').on('change', function() {
  var val = $(this).val();
  $(this).siblings('span').text(val);
})
$("#headimg").click(function () {
  $("input[type='file']").trigger('click');
});

$('input[type="file"]').on('change', function() {
  var val = $(this).val();
  $(this).siblings('span').text(val);
})
</script>  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
     <li><a href="{% url 'home' %}"><i class="fa fa-fw fa-home" style="font-size:20px"></i><b>Home</b></a></li> 
      <li><a href="#"><i class=" fas fa-bolt" style="font-size:20px"></i><b>&nbsp Moments</b></a></li>
      <li><a href="#"><i class="far fa-bell" style="font-size:20px"></i><b>&nbsp Notifications</b></a></li>
      <li><a href="#"><i class="far fa-envelope" style="font-size:24px"></i><b> &nbspMessages</b></a></li>
     <li><a href="#"><i class="fab fa-twitter" style="font-size:30px;color:#4286f4; margin-left: 250px;"></i></a></li>
      <li><form type="get" action="{% url 'search' %}" accept-charset="utf-8">
        <input type="text" placeholder="Search.." id='search' value='{{search}}' class="searchfield ui-widget" autocomplete='off' name="search" style="margin-top: 15px;margin-left: 100px;border-radius: 5px;height: 33px;"><button type="submit" id="btn" style="float:right;padding: 7px;
    background: #2196F3;
    color: white;
    font-size:8px;
    margin-top:15px;
    border: 1px solid grey;
    border-left: none;cursor: pointer;"><i class="fa fa-search example" style="font-size:17px"></i></button></form></li>
      <li>
    <div class="dropdown">
    <p class="dropdown-toggle fas fa-user-circle" data-toggle="dropdown" type="button" style="font-size:40px;margin-top: 15px;margin-left:90px;"aria-haspopup="true" aria-expanded="true"></p>
    <ul class="dropdown-menu" style="margin-left:100px;">
      <li><a class="dropdown-item" href="{% url 'updateprofile' %}"><b>{{user.username}}</b><br>{{user.email}}</a>
      <li class="divider"></li>
      <li><a class="dropdown-item" href="{% url 'updateprofile' %}">
        <font face="verdana">updateprofile</font></a></li>
      <li class="divider"></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" >Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">login</a></li>
      {% endif %} 
    </ul>
  </div>  
</nav>
<div id="backround">
{% for i in pic %}
  <a href="#"><img src="/{{i.profile_image}}" onerror="this.src='../static/img/default.jpg';"  class="img-circle" id="img" width="200px" height="200px" style="margin-top:150px; margin-left:70px;border: 5px solid white; z-index: 1;position:absolute;"></a>
 {% endfor %}  
{% for i in pic %}
  <img src="/{{i.header_image}}" onerror="this.src='../static/img/background.jpg';" style="height: 250px; width:100%">
{% endfor %}  

  
</div>

<nav class="navbar navbar-default ">
  <div class="container-fluid">
     
    <ul class="nav navbar-nav" style="margin-left:350px;">
      <li><a href="#"><b>Following</b></a></li>
      
      <li><a href="#"><b>Follwers</b></a></li>
      <li><a href="#"><b>Lists</b></a></li>
      <li><a href="#"><b>Moments</b></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><button type="button" class="btn btn-default" data-target="#myModal" data-toggle="modal" id="editbtn"><b>Edit profile</b></button></a></li>
    </ul>
  </div>
</nav><br><br>
<a href="#" style="text-decoration: none;"><h2 style="color:black; margin-left: 20px;">{{user.username}}</h2></a>
<a href="#" style="text-decoration: none;"><p style="margin-left: 20px;"><b>{{user.email}}</b></p></a>
        {% for i in twt1 %}
        <div class="container" id="twtid" style="background:#fff;border-radius:9px;box-shadow:12px 12px 15px -12px #000; padding:0px 0 0; margin-bottom:-56px; width: 500px;height:auto;margin-top: 65px;">
        
          <div class="post" style="height: auto;width: auto;">
            {% for i in pic %}
              <a href="#"><img src="/{{i.profile_image}}" class="img-circle" width="40px" height="40px" style="margin-top:10px; margin-left:10px"></a>
            {% endfor %}
            <a href="{% url 'profile' pk=i.user.pk %}" style="margin-top:30px;"><b style="color:#3399ff; font-size:17px; margin-left:20px;">{{i.user}}</b></a><br><br>
            <!-- <p>{{i.email}}</p> -->
            <p style="margin-left: 20px;">{{i.text|linebreaksbr}}</p>
            
            <div id="spa">
              
              <img id="twtimg" class="img-responsive" onError="this.onerror=null;this.src='';" src="/{{i.profile_image }}" />
              
            
            </div>  

            <hr>
            <p>posted on:{{i.created_at}}</p>
            
            
            
          </div>
        </div>
      {% endfor %}
<div class="modal fade" id="myModal" role="dialog" style="height: 700px; width: 100%;">
    <div class="modal-dialog" style="height:500px;width: 100%; margin-top: 100px;">
    
      <!-- Modal content-->
      
      <div class="modal-content">
         
        <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;<span style="color: red;"></span></button>
          {% for i in pic %} 
          <img class="img-responsive"  src="/{{i.header_image}}" / style="width: 100%; height:250px;">
          {% endfor %}
         
          <!--  {% for i in pic %}  -->
          <!-- <a href="#"><h4><img class="img-responsive"  src="/{{i.header_image}}" /><span class="glyphicon glyphicon-camera" style="margin-top:250px;" id="headimg"></span>&nbsp; Add header photo</h4></a>
          <input type="file" id="profile" name=""> -->
          <!-- {% endfor %} -->
        </div>
        
        <div class="modal-body" style="padding:40px 50px;">
        <button type="submit" class="btn btn-default pull-right" data-dismiss="modal" style="border-radius: 15px; margin-left: 1100px;">Cancel</button>
          
          <form role="form" method="post" enctype="multipart/form-data">
            
              {% csrf_token %}
              <h2><b>{{user.username}}</b></h2> 
              {{ form.as_p }}
              <button type="submit" class="btn btn-default pull-right" style="border-radius:20px;border-color: #0080ff; color: #0080ff; margin-bottom:50px;"><b>Save changes</b></button>
            </form>

              
        </div>
      
      </div>
      
    </div>
  </div> 


 
<script type="text/javascript">

$( function() {
        $("#search").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'ajax_autocomplete' %}",
            data: {
              'search': value 
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                console.log(list);
                $("#search").autocomplete({
                source : list
                
                });       
            }
        });        
    });
 });


</script>

{% endblock %}
<!-- <ul>
  <li>Username: {{ user.username }}</li>
  <li>Location: {{ user.profile.location }}</li>
  <li>Birth Date: {{ user.profile.birth_date }}</li>
</ul> -->